* {
  box-sizing: border-box;
  ;
  padding: 0;
  margin: 0;
}
body{
  padding: 0 5%;
}
nav {
  display: flex;
  gap: 1%;
  height: 10vh;
  align-items: center;
}

#home {
  margin-left: auto;
}

/* home */
.home-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}